@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic|Roboto&display=swap');

:root {
    --accent: #DCA95A;
    --primary: #353535;
    --white: #fff;
    --darkgrey:#cfcfcf;
}


html,
body {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;

}

.container {
    scroll-snap-align: start;

}

.container:nth-of-type(1) {
    height: 100vh;
}

.container:nth-of-type(2) {
    height: 100vh;
}

.container:nth-of-type(3) {
    height: 100vh;
}

.container:nth-of-type(4) {
    height: 100vh;
    cursor: url('Images/cursor.svg'),auto !important;
}

.bg-light {
    background-color: white !important;
}

.cont {
    min-height: 800px;
    position: relative;
}

.row {
    width: 100%;
    height: auto;
    margin-right: 0 !important;
}

.cth {
    font-family: 'Gentium Book Basic', serif;
    color: var(--accent);
    font-weight: 200;
    font-size: 2.2em;
}

.ctp {
    font-family: 'Gentium Book Basic', serif;
    color: var(--primary);
    font-weight: 200;
    font-size: 1.2em;
    line-height: 180%;
}

.menuf {
    font-size: 2.3em;
    text-decoration: none;
    font-weight: 100;
    color: var(--darkgrey);
    padding-left: 40px;
}

.menu1 {
    font-size: 1.3em;
    text-decoration: none;
    font-weight: 100;
    color: var(--primary);
    margin-top: 15%;
    letter-spacing:.5px;
}


a {
    color: var(--darkgrey);
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: var(--accent);
    transition: ease-in .2s;
}

.edo a.active {
    text-decoration: none;
    color: var(--accent);
    transition: ease-in .2s;
}

.edo a:active {
    text-decoration: none;
    color: var(--accent);
    transition: ease-in .2s;
}

.fa:hover {
    color: var(--accent);
}

.navi {
    background-color: #fff;
    width: 100%;
    padding: 10px 0 10px 0;
}

.navi a img {
    padding: 10px 0 10px 0;
    float: left;
}

.navMenu {
    margin: 0;
    float: right;

}

.sticky {
    width: 66.5%;
    position: fixed;
    top: 0;
    z-index:999;
}

.menu2 {
    font-size: 1.6em;
    font-weight: 200;
    width: 15%;
    margin-top: 15%;


}

.menu2 label img {
    margin-top: -40px;
    opacity: 0;
    transform: translateX(0px);
    transition: ease
}

.menu2 label:nth-child(1):hover img {
    margin-top: -40px;
    opacity: 1;
    transform: translateX(20px);
    transition: ease .2s;
}

.menu2 label:hover img {
    margin-top: -40px;
    opacity: 1;
    transform: translateX(30px);
    transition: ease .2s;
}

#radio {
    display: none;
}

.b {
    display: block;
    margin-top: 3.5em;
    transition: ease .2s;
    padding: 5px 15px 5px 11px;
}

.b:hover {
    display: block;
    background-color: var(--accent);
    margin-top: 3.5em;
    color: var(--white);
    transition: ease .2s;
    z-index: -5;
    padding: 5px 15px 5px 11px;
}

.bleh form input {
    /* display: none; */
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;


}

.grid-container {
    width: 100vw;
    height: 80vh;
    margin-top: 10%;
    grid-gap: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "one one two three three""one one two four four""five five six six six";
}

.one {
    grid-area: one;
    background-image: url('https://images.unsplash.com/photo-1549734069-22bf5da1f158?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1978&q=80');
    background-size: cover;
    border-radius: 10px;
}

.two {
    grid-area: two;
    background-image: url('https://images.unsplash.com/photo-1579239577806-987cfd5f2298?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=882&q=80');
    background-size: cover;
    border-radius: 10px;
}

.three {
    grid-area: three;
    background-image: url('https://images.unsplash.com/photo-1559886823-8073d79a1bb1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2682&q=80');
    background-size: cover;
    border-radius: 10px;
}

.four {
    grid-area: four;
    background-image: url('https://images.unsplash.com/photo-1575994642558-0a70e4f516c8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3349&q=80');
    background-size: cover;
    border-radius: 10px;
}

.five {
    grid-area: five;
    background-image: url('https://images.unsplash.com/photo-1546079406-046e141edf3d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3224&q=80');
    background-size: cover;
    border-radius: 10px;
}

.six {
    grid-area: six;
    background-image: url('https://images.unsplash.com/photo-1561799113-d8b45c4a2adf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3284&q=80');
    background-size: cover;
    border-radius: 10px;
}

.seven {
    grid-area: seven;
}

iframe {
    border: none;
    margin-left: 1.8em;
    margin-top: 23%;
    width: 57vw;
    height: 63vh;

}

p {
    font-family: 'Roboto', sans-serif;
}

.con {
    text-align: center;
    padding-top: 15%;
    margin-bottom: 10%;
}

.last {
    /* margin-top: 10%; */
    font-size: 3em;
    font-weight: 100;
    text-align: center;   
}


.last1 {
    margin-top: 10%;
    color: var(--accent);
    font-size: 2em;
    font-weight: 100;
    text-align: center;
    padding: 0px 45px;
    transition: ease-in-out .2s;
}
.last1 div a:hover{
    color: var(--primary) !important; 
    
}
.last1 div a img{
    transform: scale(1);
 transition: cubic-bezier(0.165, 0.84, 0.44, 1) .2s;
 filter: brightness(1);   
}
.last1 div a:hover img {
 transform: scale(1.1);
 transition: cubic-bezier(0.165, 0.84, 0.44, 1) .2s;
 filter: brightness(0);
}



.last1:hover {
    margin-top: 10%;
    color: var(--accent);
    font-size: 2em;
    font-weight: 100;
    text-align: center;
    padding: 0px 45px;
    transition: ease-in-out .2s;
}


.sl a{
    margin-top: 10%;
    font-size: 1.3em;
    font-weight: 100;
    color: var(--primary) !important;
    text-align: center;
    padding: 0px 45px;
    transition: ease-in-out .2s;
}
.sl a:hover{
    margin-top: 10%;
    font-size: 1.3em;
    font-weight: 100;
    color: var(--accent) !important;
    text-align: center;
    padding: 0px 45px;
    transition: ease-in-out .2s;
}



input {
    outline: none;
    padding: 5px;
    margin-top: 10%;
    font-size: 1em !important;
    border: none;
    border-bottom: 1.2px solid grey;
    background-color: white;
    width: 55%;
    transition: ease .2s;
}

textarea {
    outline: none;
    padding: 5px;
    margin-top: 30px;
    font-size: 1em !important;
    border: none;
    border-bottom: 1.2px solid grey;
    background-color: white;
    width: 55%;
    transition: ease .2s;
    height: 150px;
}

input:hover {
    padding: 5px;
    margin-top: 10%;
    font-size: 1em !important;
    border: none;
    border-bottom: 1.2px solid #DCA95A;
    background-color: white;
    min-width: 55%;
    transition: ease .2s;
}

textarea:hover {
    padding: 5px;
    margin-top: 30px;
    font-size: 1em !important;
    border: none;
    border-bottom: 1.2px solid #DCA95A;
    background-color: white;
    min-width: 55%;
    transition: ease .2s;

}

button {
    background-color: var(--primary);
    color: var(--accent);
    border: none;
    margin-top: 30px;
    font-size: 1em;
    padding: 10px 55px;
    transition: ease-in-out .2s;
}

button:hover {
    background-color: var(--accent);
    border: none;
    margin-top: 30px;
    font-size: 1em;
    padding: 10px 55px;
    transition: ease-in-out .2s;
    color: var(--primary);
}
.first{
    margin:12% 0% 0% 0%;
}
.mt{
    margin-top:20%;
}









 .fa-angle-down{
     animation: arrow 1s cubic-bezier(0, 1.08, 0.74, 0.98) infinite;
 }

 @keyframes arrow{
0%{
    transform: translateY(0px);
    opacity: 0;
}

50%{
    transform: translateY(2.5px);
    opacity: 1;

}
100%{
    transform: translateY(5px);
    opacity: 0;

}
 }


 @media screen and (max-width:1366px){
    .first{
        margin:1.5% 0% 0% 0%;
    }

   .sticky{
       
    width: 81.3%;
position: fixed;
top: 0;
z-index: 999;
}
.menu2{
    margin-top: 0%;
}


iframe{
    margin-top: 1%;
width: 64vw;
height: 85vh;
}
.con {
    text-align: center;
    padding-top: 10%;
    margin-bottom: 3%;
}

.last1 {
    margin-top: 5%;
}

.last1:hover {
    margin-top: 5%;
    color: var(--accent);
    font-size: 2em;
    font-weight: 100;
    text-align: center;
    padding: 0px 45px;
    transition: ease-in-out .2s;
}
.grid-container {
    margin-top: 8%;
}
.b {
    
    margin-top: 2.5em;
}
.b:hover {
    
    margin-top: 2.5em;
}
.mt{
    margin-top:10%;
}

 };