@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic|Roboto&display=swap');

:root {
    --accent: #DCA95A;
    --primary: #353535;
    --white: #fff;
    --darkgrey: #cfcfcf;
}


html,
body {
    overscroll-behavior: contain;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;

}

.container-fluid {
    scroll-snap-align: start;
    height: 100vh;
    width: 80%;
}

.container:nth-of-type(4) {
    cursor: url('/assets/images/cursor.svg'), auto !important;
}

.bg-light {
    background-color: white !important;
}

.cont {
    min-height: 800px;
    position: relative;
}

.row {
    width: 100%;
    height: auto;
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.cth {
    font-family: 'Gentium Book Basic', serif;
    color: var(--accent);
    font-weight: 200;
    font-size: 3.2em;
}

.ctp {
    font-family: 'Gentium Book Basic', serif;
    color: var(--primary);
    font-weight: 200;
    font-size: 1.2em;
    line-height: 180%;
}

.na {
    color: var(--darkgrey);
    font-size: 1em;
    margin-top: 20px;
}

.menuf {
    font-size: 2.3em;
    text-decoration: none;
    font-weight: 100;
    color: var(--darkgrey);
    padding-left: 40px;
}

.menu1 {
    font-size: 1.3em;
    text-decoration: none;
    font-weight: 100;
    color: var(--primary);
    margin-top: 15%;
    letter-spacing: .5px;
}


a {
    color: var(--darkgrey);
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: var(--accent);
    transition: ease-in .2s;
}

.edo a.active {
    text-decoration: none;
    color: var(--accent);
    transition: ease-in .1s;
}

.edo a:active {
    text-decoration: none;
    color: var(--accent);
    transition: ease-in .1s;
}

.fa:hover {
    color: var(--accent);
}

.navi {
    background-color: #fff;
    width: 100%;
    padding: 10px 30px 10px 0;
}

.navi a img {
    /* padding: 10px 10px 10px 0; */
    float: left;
    width: 13%;
}

.navMenu {
    margin: 0;
    float: right;

}

.sticky {
    width: inherit;
    position: fixed;
    top: 0;
    z-index: 999;
}

.menu2 {
    font-size: 1.6em;
    font-weight: 200;
    margin-top: 17vh;
}

.menu2 label img {
    margin-top: -40px;
    opacity: 0;
    transform: translateX(0px);
    transition: ease;
    width: 20%;
}

.menu2 label:nth-child(1):hover img {
    margin-top: -40px;
    opacity: 1;
    transform: translateX(114%);
    transition: ease .2s;
}

.menu2 label:hover img {
    margin-top: -40px;
    opacity: 1;
    transform: translateX(154%);
    transition: ease .2s;
}

.menu2 .b.active:nth-child(1) img {
    margin-top: -40px;
    opacity: 1;
    transform: translateX(114%);
    transition: ease .2s;
}

.menu2 .b.active:nth-child(2) img {
    margin-top: -40px;
    opacity: 1;
    transform: translateX(154%);
    transition: ease .2s;
}

.menu2 .b.active:nth-child(3) img {
    margin-top: -40px;
    opacity: 1;
    transform: translateX(154%);
    transition: ease .2s;
}

.b {
    display: block;
    margin-top: 10vh;
    transition: ease .2s;
    padding: 5px 15px 5px 11px;
}

.b:hover {
    display: block;
    background-color: var(--accent);
    /* margin-top: 3.5em; */
    color: var(--white);
    transition: ease .2s;
    z-index: -5;
    padding: 5px 15px 5px 11px;
}

.b.active {
    display: block;
    background-color: var(--accent);
    /* margin-top: 3.5em; */
    color: var(--white);
    transition: ease .2s;
    z-index: -5;
    padding: 5px 15px 5px 11px;
}

#radio {
    display: none;
}



.bleh form input {
    /* display: none; */
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;


}

.grid-container {
    width: 100vw;
    height: 80vh;
    margin-top: 10%;
    grid-gap: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "one one two three three""one one two four four""five five six six six";
}

.one {
    grid-area: one;
    background-image: url('https://images.unsplash.com/photo-1549734069-22bf5da1f158?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1978&q=80');
    background-size: cover;
    border-radius: 10px;
}

.two {
    grid-area: two;
    background-image: url('https://images.unsplash.com/photo-1579239577806-987cfd5f2298?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=882&q=80');
    background-size: cover;
    border-radius: 10px;
}

.three {
    grid-area: three;
    background-image: url('https://images.unsplash.com/photo-1559886823-8073d79a1bb1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2682&q=80');
    background-size: cover;
    border-radius: 10px;
}

.four {
    grid-area: four;
    background-image: url('https://images.unsplash.com/photo-1575994642558-0a70e4f516c8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3349&q=80');
    background-size: cover;
    border-radius: 10px;
}

.five {
    grid-area: five;
    background-image: url('https://images.unsplash.com/photo-1546079406-046e141edf3d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3224&q=80');
    background-size: cover;
    border-radius: 10px;
}

.six {
    grid-area: six;
    background-image: url('https://images.unsplash.com/photo-1561799113-d8b45c4a2adf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3284&q=80');
    background-size: cover;
    border-radius: 10px;
}

.seven {
    grid-area: seven;
}

iframe {
    border: none;
    margin-top: 16%;
    width: 100%;
    height: 70vh;

}

p {
    font-family: 'Roboto', sans-serif;
}

.con {
    text-align: center;
}




input {
    outline: none;
    padding: 5px;
    margin-top: 10%;
    font-size: 1em !important;
    border: none;
    border-bottom: 1.2px solid grey;
    background-color: white;
    width: 55%;
    transition: ease .2s;
}

textarea {
    outline: none;
    padding: 5px;
    margin-top: 30px;
    font-size: 1em !important;
    border: none;
    border-bottom: 1.2px solid grey;
    background-color: white;
    width: 55%;
    transition: ease .2s;
    height: 150px;
}

input:hover {
    padding: 5px;
    margin-top: 10%;
    font-size: 1em !important;
    border: none;
    border-bottom: 1.2px solid #DCA95A;
    background-color: white;
    min-width: 55%;
    transition: ease .2s;
}

textarea:hover {
    padding: 5px;
    margin-top: 30px;
    font-size: 1em !important;
    border: none;
    border-bottom: 1.2px solid #DCA95A;
    background-color: white;
    min-width: 55%;
    transition: ease .2s;

}

button {
    background-color: var(--primary);
    color: var(--accent);
    border: none;
    margin-top: 30px;
    font-size: 1em;
    padding: 10px 55px;
    transition: ease-in-out .2s;
}

button:hover {
    background-color: var(--accent);
    border: none;
    margin-top: 30px;
    font-size: 1em;
    padding: 10px 55px;
    transition: ease-in-out .2s;
    color: var(--primary);
}

.last {
    margin-top: 10%;
    font-size: 3em;
    font-weight: 100;
    /* text-align: center;
    padding: 1vh 18vw; */
}


.last1 {
    margin-top: 2%;
    color: var(--accent);
    font-size: 2em;
    font-weight: 100;
    text-align: center;
    padding: 0px 45px;
    transition: ease-in-out .2s;
}

.last .last1 a:hover {
    color: var(--primary) !important;

}

.last .last1 a img {
    transform: scale(1);
    transition: cubic-bezier(0.165, 0.84, 0.44, 1) .2s;
    filter: brightness(1);
    width: 60px;
}

.last .last1 a:hover img {
    transform: scale(1.1);
    transition: cubic-bezier(0.165, 0.84, 0.44, 1) .2s;
    filter: brightness(0);
}



.last1:hover {
    margin-top: 2%;
    color: var(--accent);
    font-size: 2em;
    font-weight: 100;
    text-align: center;
    padding: 0px 45px;
    transition: ease-in-out .2s;
}


.sl a {
    margin-top: 10%;
    font-size:1.7em;
    font-weight: 100;
    color: var(--primary) !important;
    text-align: center;
    padding: 0px 40px;
    transition: ease-in-out .2s;
}

.sl a:hover {
    margin-top: 10%;
    font-size: 1.7em;
    font-weight: 100;
    color: var(--accent) !important;
    text-align: center;
    padding: 0px 40px;
    transition: ease-in-out .2s;
}


.first {
    margin: 12% 0% 0% 0%;
}

.mt {
    margin-top: 35vh;
}

.pg {
    width: 100% !important;
    height: 90vh !important;
    margin: 5% 0% -2% 0% !important;
}

.fs {
    font-size: 1.2em;
}

.fa-angle-down {
    animation: arrow 1s cubic-bezier(0, 1.08, 0.74, 0.98) infinite;
}

@keyframes arrow {
    0% {
        transform: translateY(0px);
        opacity: 0;
    }

    50% {
        transform: translateY(2.5px);
        opacity: 1;

    }

    100% {
        transform: translateY(5px);
        opacity: 0;

    }
}






@media screen and (min-width:2000px) {
    .first {
        margin: 12% 0% 0% 0%;
    }

    .ctp {
        font-size: 2.3em;
    }


    .cth {
        font-family: 'Gentium Book Basic', serif;
        color: var(--accent);
        font-weight: 200;
        font-size: 5.2em;
    }

    .b {
        display: block;
        margin-top: 3em;
        transition: ease .2s;
        padding: 5px 15px 5px 11px;
    }

    .b:hover {
        display: block;
        background-color: var(--accent);
        /* margin-top: 3.5em; */
        color: var(--white);
        transition: ease .2s;
        z-index: -5;
        padding: 5px 15px 5px 11px;
    }

    .menu2 {
        margin-top: 10%;
        font-size: 3.0em;
        font-weight: 200;
        width: 15%;
    }

    .menu2 label img {
        margin-top: -80px;
        opacity: 0;
        transform: translateX(0px);
        transition: ease .2s;
        width: 20%;
    }

    .menu2 label:hover img {
        margin-top: -80px;
        opacity: 1;
        transform: translateX(70px);
        transition: ease .2s;
        width: 20%;
    }

    .menu2 label:nth-child(1):hover img {
        margin-top: -80px;
        opacity: 1;
        transform: translateX(50px);
        transition: ease .2s;
    }

    .menu2 .b.active:nth-child(1) img {
        margin-top: -80px;
        opacity: 1;
        transform: translateX(50px);
        transition: ease .2s;
    }

    .menu2 .b.active:nth-child(2) img {
        margin-top: -80px;
        opacity: 1;
        transform: translateX(70px);
        transition: ease .2s;
    }

    .menu2 .b.active:nth-child(3) img {
        margin-top: -80px;
        opacity: 1;
        transform: translateX(70px);
        transition: ease .2s;
    }

    .menu1 {
        font-size: 1.8em;
        text-decoration: none;
        font-weight: 100;
        color: var(--primary);
        margin-top: 10%;
        letter-spacing: .5px;
    }

    .menuf {
        font-size: 3.3em;
        text-decoration: none;
        font-weight: 100;
        color: var(--darkgrey);
        padding: 30px 30px 0px 30px;

    }
    .last .last1 a img {
        transform: scale(1);
        transition: cubic-bezier(0.165, 0.84, 0.44, 1) .2s;
        filter: brightness(1);
        width: 100px;
    }

    .fs {
        font-size: 1.5em;
    }

    .con {
        text-align: center;
    }

    .last {
        margin-top: 10%;
        font-size: 5em;
        font-weight: 100;
        
    }
    .sl a {
        margin-top: 10%;
        font-size: 3.0em;
        font-weight: 100;
        color: var(--primary) !important;
        text-align: center;
        padding: 0px 40px;
        transition: ease-in-out .2s;
    }
    .sl a:hover {
        margin-top: 10%;
        font-size: 3.0em;
        font-weight: 100;
        color: var(--accent) !important;
        text-align: center;
        padding: 0px 40px;
        transition: ease-in-out .2s;
    }
    
}




};

@media screen and (min-width:1366px) {

    .menu2 {
        font-size: 1.6em;
        font-weight: 200;
        margin-top: 17vh;
    }




}

;